@import "functions";

$text-colour: map.get($planets, uranus, "colour");

#words {
    @include scrollbars;
    position: fixed;
    top: 1rem;
    left: 1rem;

    padding: 1rem;

    max-width: 80%;
    max-height: 90%;
    overflow:auto;

    border-color: $text-colour;
    border-style: solid;
    border-width: 0.1vw;

    color: $text-colour;

    background-color: black;
    opacity: 0.7;

    display: none;

    h1 {
        margin-top: 0;
    }

    a {
        color: map.get($planets, jupiter, "colour");
        text-decoration: none;
    }

    table {
        margin: 1rem;
        border-collapse: collapse;
        margin-inline: auto;
    }

    tr {
        border-bottom-color: $text-colour;
        border-bottom-width: 0.1vw;
        border-bottom-style: dashed;
    }

    td {
        padding-inline: 1rem;
    }

    td.antecedent {
        text-align: right;
        padding-left: 1rem;
    }

    td.antecedent::after {
        content: ':';
    }

    td.consequent {
        padding-left: 0;
    }

    footer {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }

    ol.notes {
        font-size: 0.8rem;
        margin-left: 2rem;
    }
}

#show-text {
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: $text-colour;
    display: block;
}

html:has(#show-text:hover) #words {
    display: block;
}

#words:hover {
    display: block;
}

sup {
    font-size: 0.8rem;
}

#show-names {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    color: $text-colour;
    display: block;
}