$colours: (
  sun: rgb(229, 181, 51),
  mercury: rgb(183, 83, 206),
  venus: rgb(173, 227, 140),
  earth: rgb(38, 99, 192),
  mars: rgb(141, 21, 21),
  jupiter: rgb(187, 122, 58),
  saturn: rgb(187, 219, 58),
  uranus: rgb(54, 156, 156),
  neptune: rgb(196, 196, 196),
  default: rgb(245, 244, 245),
  background: rgb(8, 15, 67),
);
