@import url("https://fonts.googleapis.com/css?family=Montserrat");
#words {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  max-width: 80%;
  max-height: 90%;
  overflow: auto;
  border-color: rgb(54, 156, 156);
  border-style: solid;
  border-width: 0.1vw;
  color: rgb(54, 156, 156);
  background-color: black;
  opacity: 0.7;
  display: none;
}
#words h1 {
  margin-top: 0;
}
#words a {
  color: rgb(187, 122, 58);
  text-decoration: none;
}
#words table {
  margin: 1rem;
  border-collapse: collapse;
  margin-inline: auto;
}
#words tr {
  border-bottom-color: rgb(54, 156, 156);
  border-bottom-width: 0.1vw;
  border-bottom-style: dashed;
}
#words td.antecedent {
  text-align: right;
  padding-left: 1rem;
}
#words td.antecedent::after {
  content: ":";
}
#words footer {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

#show-text {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: rgb(54, 156, 156);
  display: block;
}

#show-text:hover + #words {
  display: block;
}

#words:hover {
  display: block;
}

sup {
  font-size: 0.8rem;
}

body {
  background-color: black;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Montserrat";
}

.celestial-body {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}

#sun {
  background-color: rgb(229, 181, 51);
  width: 0.9279866667vw;
  position: relative;
}

#mercury {
  top: 0.3942790476vw;
  left: 0.3942790476vw;
  width: 0.1394285714vw;
  background-color: rgb(183, 83, 206);
  transform: translate(calc(cos(0deg) * 0.58vw), calc(sin(0deg) * 0.58vw));
  animation: orbit-mercury 0.88s linear infinite;
}

@keyframes orbit-mercury {
  0% {
    transform: rotate(0deg) translateX(0.58vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(0.58vw) rotate(360deg);
  }
}
#mercury::after {
  content: "mercury";
  color: rgb(183, 83, 206);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#mercury:hover::after {
  display: block;
}

#venus {
  top: 0.2911361905vw;
  left: 0.2911361905vw;
  width: 0.3457142857vw;
  background-color: rgb(173, 227, 140);
  transform: translate(calc(cos(0deg) * 1.08vw), calc(sin(0deg) * 1.08vw));
  animation: orbit-venus 2.25s linear infinite;
}

@keyframes orbit-venus {
  0% {
    transform: rotate(0deg) translateX(1.08vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(1.08vw) rotate(360deg);
  }
}
#venus::after {
  content: "venus";
  color: rgb(173, 227, 140);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#venus:hover::after {
  display: block;
}

#earth {
  top: 0.2811361905vw;
  left: 0.2811361905vw;
  width: 0.3657142857vw;
  background-color: rgb(38, 99, 192);
  transform: translate(calc(cos(0deg) * 1.5vw), calc(sin(0deg) * 1.5vw));
  animation: orbit-earth 3.65s linear infinite;
}

@keyframes orbit-earth {
  0% {
    transform: rotate(0deg) translateX(1.5vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(1.5vw) rotate(360deg);
  }
}
#earth::after {
  content: "earth";
  color: rgb(38, 99, 192);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#earth:hover::after {
  display: block;
}

#mars {
  top: 0.3668504762vw;
  left: 0.3668504762vw;
  width: 0.1942857143vw;
  background-color: rgb(141, 21, 21);
  transform: translate(calc(cos(0deg) * 2.28vw), calc(sin(0deg) * 2.28vw));
  animation: orbit-mars 6.87s linear infinite;
}

@keyframes orbit-mars {
  0% {
    transform: rotate(0deg) translateX(2.28vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(2.28vw) rotate(360deg);
  }
}
#mars::after {
  content: "mars";
  color: rgb(141, 21, 21);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#mars:hover::after {
  display: block;
}

#jupiter {
  top: -1.5645780952vw;
  left: -1.5645780952vw;
  width: 4.0571428571vw;
  background-color: rgb(187, 122, 58);
  transform: translate(calc(cos(0deg) * 7.78vw), calc(sin(0deg) * 7.78vw));
  animation: orbit-jupiter 43.33s linear infinite;
}

@keyframes orbit-jupiter {
  0% {
    transform: rotate(0deg) translateX(7.78vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(7.78vw) rotate(360deg);
  }
}
#jupiter::after {
  content: "jupiter";
  color: rgb(187, 122, 58);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#jupiter:hover::after {
  display: block;
}

#saturn {
  top: -1.250292381vw;
  left: -1.250292381vw;
  width: 3.4285714286vw;
  background-color: rgb(187, 219, 58);
  transform: translate(calc(cos(0deg) * 14.3vw), calc(sin(0deg) * 14.3vw));
  animation: orbit-saturn 107.59s linear infinite;
}

@keyframes orbit-saturn {
  0% {
    transform: rotate(0deg) translateX(14.3vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(14.3vw) rotate(360deg);
  }
}
#saturn::after {
  content: "saturn";
  color: rgb(187, 219, 58);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#saturn:hover::after {
  display: block;
}

#uranus {
  top: -0.2760066667vw;
  left: -0.2760066667vw;
  width: 1.48vw;
  background-color: rgb(54, 156, 156);
  transform: translate(calc(cos(0deg) * 28.7vw), calc(sin(0deg) * 28.7vw));
  animation: orbit-uranus 306.87s linear infinite;
}

@keyframes orbit-uranus {
  0% {
    transform: rotate(0deg) translateX(28.7vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(28.7vw) rotate(360deg);
  }
}
#uranus::after {
  content: "uranus";
  color: rgb(54, 156, 156);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#uranus:hover::after {
  display: block;
}

#neptune {
  top: -0.2431495238vw;
  left: -0.2431495238vw;
  width: 1.4142857143vw;
  background-color: rgb(196, 196, 196);
  transform: translate(calc(cos(0deg) * 45vw), calc(sin(0deg) * 45vw));
  animation: orbit-neptune 601.9s linear infinite;
}

@keyframes orbit-neptune {
  0% {
    transform: rotate(0deg) translateX(45vw) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(45vw) rotate(360deg);
  }
}
#neptune::after {
  content: "neptune";
  color: rgb(196, 196, 196);
  position: absolute;
  left: 100%;
  padding: 0.2rem;
  font-size: 0.8rem;
  display: none;
}

#neptune:hover::after {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
